	<h1> <%= @recipe.name %> :</h1>

	<br>
  <img id="recipe_img" src="<%= @recipe.image %>" alt= "/alt.jpg" >
	<br>
	<h3> <%= @recipe.description %></h3>

	 <button class ="btn" onClick="window.location.href='/recipes';">Back</button>

	<%= button_to "Delete", @recipe, method: :delete, :class => 'btn btn-primary', data: { confirm: "Are you sure you want to remove #{@recipe.name}?" } %>

	<%= button_to "Edit", edit_recipe_path(@recipe), method: :get, :class => 'btn btn-primary' %>


<br><br><br>
<br><br><br>
