<!DOCTYPE html>
<html>

<head>
  <title>MixBook</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<body>

  <header class="navbar-fixed-top">
    <div class="container">
      <div class="logo">
        <h1><a href="/">MixBook</a></h1>
      </div>

      <div class="nav">
        <ul>
          <li><a href="/liquors">Liquors</a></li>
          <li><a href="/mixers">Mixers</a></li>
            <%if current_user %>
              <li><a href="/recipes">My Recipes</a></li>
              <li><%= link_to "Logout", logout_path, :method => :delete %></li>
            <%else%>
              <li><a onClick="$('#loginModal').modal()" href="#">Login</a></li>
              <li><a onClick="$('#signUpModal').modal()" href="#">Sign Up</a></li>
              <!-- <li><button class ="btn" onClick="$('#myModal').modal()">Login</button></li>  -->
            <%end%>
        </ul>
      </div>

    </div>
  </header>


  <div class="content">
    <div class="container">
      <%= yield %>
      <%#= console %>
    </div>
  </div>


  <footer>
    <div class="wrapper">
      <ul>
        <li><a href="/pages/faqs">About Us</a></li>      
        <li><a href="http://liquor.com/jobs" target="_blank">Careers</a></li>
        <li><a href="https://github.com/danfaeh" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/danfaeh" target="_blank">LinkedIn</a></li>
      </ul>
    </div> 
  </footer>


<!-- Small modal -->
<div id="loginModal" class="modal fade bs-example-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>



      <h1>Login</h1>
        <div class="login_form">
          <%= form_for User.new, url: "/sessions", method: "post" do |f| %>
            <div>
              <%= f.text_field :username, placeholder: "Username" %>
            </div>
            <div>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
              <%= f.submit "Sign In" %>
          <% end %> 

        <% if notice %>
          <p class="alert alert-danger">Login Failed</p>
        <% end %>



        </div>  
    </div>
  </div>
</div>
<!-- Small modal -->

<!-- Small modal -->
<div id="signUpModal" class="modal fade bs-example-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>Create Your Account</h1>
        <div class="login_form">
          <%= form_for User.new, url: "/users", method: "post" do |f| %>
            <div>
              <%= f.text_field :username, placeholder: "Username" %>
            </div>
            <div>
              <%= f.email_field :email, placeholder: "Email" %>
            </div>          
            <div>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
              <%= f.submit "Create Account" %>
          <% end %> 
        </div>  
    </div>
  </div>
</div>
<!-- Small modal -->

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ JS TAGS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ JS TAGS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->  

</body>
</html>
